@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(
        to left top,
         #fff, 
         #3a98f0);
    font-family: 'Zen Antique Soft', serif;
}

.container {
    background-color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4rem;
    border-radius: 0.5rem;
    width: 1000px;
    min-height: 600px;
    max-width: 90%;
    box-shadow: 1px 5px 6px #525252;
}
